<!DOCTYPE html>

  
<html lang="en">
    <body >
       
        <!-- Masthead-->

        <!-- Portfolio Section-->
        <section *ngIf="!okay">
            <app-spinner></app-spinner>
        </section>
        <section *ngIf="okay" class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <form name="sentMessage" novalidate="novalidate" (ngSubmit)="onSubmit()">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>UserName</label>
                                <input matInput class="form-control" id="name" type="text" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" placeholder="Name" required="required"  name="username"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Password</label>
                                <input matInput class="form-control" id="password" type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Password" required="required" data-validation-required-message="Please enter your password." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br />
                        
                        <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
            <section *ngIf="inValid" class="page-section portfolio" id="portfolio">
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    
                    <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">Invalid user credentials!!!</h3>
                </div>
            </section>


            <!-- <section *ngIf="inValid" class="page-section portfolio" id="portfolio">
                <h4 >Invalid user credentials!!!</h4>
            </section> -->
        </section>
    </body>
</html>
